<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 20px; margin-bottom: 20px">
      <mat-card style="margin: 0">
        <mat-error class="alert alert-success">{{status}}</mat-error>
        <mat-dialog-content>
          <form class="form-angular" #f="ngForm" (ngSubmit)="f.form.valid && updateProduct()" novalidate>

            <!--                    NAME-->
            <div class="col-12">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Name:</mat-label>
                <input name="name" #name="ngModel" [(ngModel)]="product.name" matInput placeholder="Name" required
                       minlength="3" maxlength="50" value="{{product.name}}">
                <mat-icon color="accent" matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="name.hasError('required')" class="matErrorFont">
                  The name is required!
                </mat-error>
                <mat-error *ngIf="name.hasError('minlength')" class="matErrorFont">
                  <marquee>The name must at least 3 character!</marquee>
                </mat-error>
              </mat-form-field>
            </div>
            <!--                    END NAME-->


            <!--          category select-->
            <mat-form-field appearance="outline" style="width: 350px">
              <mat-label>Category: {{product.category?.name}}</mat-label>
              <mat-select [(ngModel)]="product.category" name="category" [formControl]="validateCategory">
                <mat-option *ngFor="let ctg of listCategory" [value]="ctg">
                  {{ctg.name}}
                </mat-option>
              </mat-select>
              <mat-error class="matErrorFont" *ngIf="validateCategory.hasError('required')">Please select one category!</mat-error>
            </mat-form-field>

            <!--            Price-->
            <div class="col-12">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Price:</mat-label>
                <input type="number" name="price" #price="ngModel" [(ngModel)]="product.price" matInput
                       placeholder="Price" required
                       minlength="3" value="{{product.price}}">
                <mat-icon color="accent" matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="price.hasError('required')" class="matErrorFont">
                  The price is required!
                </mat-error>
                <mat-error *ngIf="price.hasError('minlength')" class="matErrorFont">
                  <marquee>The price must at least 3 character!</marquee>
                </mat-error>
              </mat-form-field>
            </div>
            <!--                    END Price-->


            <!--                    Quantity-->
            <div class="col-12">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Quantity:</mat-label>
                <input type="number" name="quantity" #quantity="ngModel" [(ngModel)]="product.quantity" matInput
                       placeholder="Quantity" required
                       minlength="3" value="{{product.quantity}}">
                <mat-icon color="accent" matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="quantity.hasError('required')" class="matErrorFont">
                  The quantity is required!
                </mat-error>
                <mat-error *ngIf="quantity.hasError('minlength')" class="matErrorFont">
                  <marquee>The quantity must at least 3 character!</marquee>
                </mat-error>
              </mat-form-field>
            </div>
            <!--                    END quantity-->


            <img src="{{product.avatar}}" width="60px" height="60px" alt="">
            <br>
            <app-upload-avatar (giveURLtoCreate)="onUploadAvatar($event)"></app-upload-avatar>

            <!--            Description-->
            <div class="col-12" style="margin-top: 15px">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Description:</mat-label>
                <textarea name="description" #description="ngModel" [(ngModel)]="product.description" matInput
                          placeholder="Description"
                          required
                          minlength="3" style="margin-top: 50px !important;"></textarea>
                <mat-icon color="accent" matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="description.hasError('required')" class="matErrorFont">
                  The description is required!
                </mat-error>
                <mat-error *ngIf="description.hasError('minlength')" class="matErrorFont">
                  <marquee>The description must at least 3 character!</marquee>
                </mat-error>
              </mat-form-field>
            </div>
            <!--                    END Description-->

            <button type="submit" mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">
              Update Product
              <mat-icon color="accent" matSuffix>edit</mat-icon>
            </button>
            <br>
            <button style="margin-top: 10px" mat-raised-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Close
            </button>
          </form>
        </mat-dialog-content>
      </mat-card>
    </div>
  </div>
</div>
