<main>
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5> <br>
                  <p style="color: red; margin: 0;padding: 0">
                    <marquee>{{statusError}}</marquee>
                  </p>
                  <mat-error class="alert alert-primary col-12">{{status}}</mat-error>
                </div>
                <form class="form-angular" #f="ngForm" (ngSubmit)="f.form.valid && login()" novalidate>

                  <!--                    USERNAME-->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Username:</mat-label>
                    <input name="username" #username="ngModel" [(ngModel)]="form.username" matInput
                           placeholder="Name" required minlength="3" maxlength="50">
                    <mat-icon color="accent" matSuffix>account_circle</mat-icon>
                    <mat-error *ngIf="username.hasError('required')">The username is required!</mat-error>
                    <mat-error *ngIf="username.hasError('minlength')">The username must at least 3 character!
                    </mat-error>
                  </mat-form-field>
                  <br>
                  <!--                    PASSWORD-->
                  <mat-form-field class="col-12" appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input #password="ngModel" [(ngModel)]="form.password" name="password" matInput
                           [type]="hide ? 'password' : 'text'" required minlength="6" maxlength="100">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                      <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.hasError('required')">The username is required!</mat-error>
                    <mat-error *ngIf="password.hasError('minlength')">The username must at least 6 character!
                    </mat-error>
                  </mat-form-field>
                  <br>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Login</button>
                  </div>

                </form>
                <div class="col-12">
                  <p class="small mb-0">Don't have account? <a routerLink="/register">Create an account</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

</main><!-- End #main -->

