.form-angular{
  text-align: center;
}
.backgroundRegister{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/nguyendanhson-9374f.appspot.com/o/background-3d-rendering-with-.jpg?alt=media&token=8f631769-f0d1-4c63-a3a4-4fe5a24a9b23") ;
}

