.components-nav-li {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Style the active class (and buttons on mouse-over) */
.active, .components-nav-li:hover {
  background-color: #666;
  color: white;
}

@media (min-width: 1199px) {
  .customMenu {
    display: none;

  }
}

@media (min-width: 991px) {
  .customMenuBtn {
    display: none;

  }
}

.customNavBar {
  background-color: rgba(255, 255, 255, 0) !important;
}

/*--------------------------------------------------------------
 # Custom-btn start
--------------------------------------------------------------*/


.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

  outline: none;
}

.btn-3 {
  background: rgba(238, 0, 171, 0.17);
  background: linear-gradient(0deg, rgba(0, 95, 238, 0.24) 0%, rgba(2, 126, 251, 0.61) 100%);
  width: 130px;
  height: 40px;
  line-height: 36px;
  padding: 0;
  border: none;

}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover {
  background: transparent;
  box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}

/*--------------------------------------------------------------
 # Custom-btn end
--------------------------------------------------------------*/
