.column {
  width: 33.3%;
  padding: 10px;
}

.card {
  box-shadow: 10px 10px 2px 1px #6deddf;
  background-color: #aa42ca;
  padding: 10px;

}

img {
  width: auto;
  height: 200px;
  border-radius: 8%;
}
