

<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 90px; margin-bottom: 20px">
      <mat-card style="margin: 0">
        <h1>Toast Notification</h1>
        <button (click)="ShowSuccessToastr()" mat-raised-button color="success">Success</button>
        <br>
        <br>
        <button (click)="ShowErrorToastr()" mat-raised-button color="danger">Error</button>
        <br>
        <br>
        <button (click)="ShowWarningToastr()" mat-raised-button color="warn">warning</button>
        <br>
        <br>
        <button (click)="ShowInfoToastr()" mat-raised-button color="primary">Info</button>
      </mat-card>
    </div>
  </div>
</div>
